global
    log /dev/log local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen redis_cluster
    bind 0.0.0.0:6379
    mode tcp
    balance roundrobin
    server airflow-redis-1 airflow-redis-1:6379 check inter 2s fall 3 rise 2
    server airflow-redis-2 airflow-redis-2:6379 check inter 2s fall 3 rise 2
    server airflow-redis-3 airflow-redis-3:6379 check inter 2s fall 3 rise 2


